<h1>
  Home
</h1>

<div>
  Logged as <%= @user %>
</div>

<div>
  <%= link_to "Leaderboards", leaderboards_path %>
</div>

<div>
  <center>
    <%= button_to 'Click', "/home/button_click", method: :get %>
    <%= @score %>
  </center>
</div>

<div>
  <%= button_to 'Buy upgrade', "/home/upgrade1", method: :get %>
  Increases click power (costs <%= 50 * @upgrade%>)
  Current click power: <%= @upgrade %>
</div>